@font-face {
  font-family: "Garet";
  src: url("/assets/fonts/garet/Garet-Book.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Garet";
  src: url("/assets/fonts/garet/Garet-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Garet";
  src: url("/assets/fonts/garet/Garet-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
